 


  



nav ul {
  margin:0; 
  padding:0;
  list-style-type: none;
  



}

nav li a {
  color: #ffffff;
  display: block;
  border: 1px solid #000000;
  background-color: blue;
  padding: 15px;
  background-image: linear-gradient(to bottom, #136ef6, #165fe4, #1651d2, #1543c0, #1335ae);
  text-decoration: none;

}

nav li {
  display: inline-block;
  
  margin: 10px;
  width: 200px;
}
   


















header {
  grid-column: span 12;
  border: 1px solid black;
  background-color:#0000ff;
}

footer {
  grid-column: span 12;
  border: 5px solid blue;
  background-color: red;
  
}



main {
  grid-column: span 9;
  background: ;
  padding-left: 20px;

}

nav3{
  grid-column: span 9;
  background-color:lightblue;
  }





#main-wrapper {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  border: 5px solid blue;
}

#EAO{
  float: left;
  grid-column: span ;
  padding-left: 20px;
}

Nav2{
  grid-column: span 3;
background-color: lightblue;
}

#wrapper {
  display: grid;
  grid-template-columns: repeat(6, 1fr)


}

h1{
border: 5px solid black;
padding: 20px;
color:lightblue
} 


#Rocks{
  float: right;
  grid-column: span 3;
  width: 200px;
  
}

main2{
  grid-column: span 3;
  padding-left: 20px;
  background-color:#ffffff;

}

nav4{
  background: #ffffff;
grid-column: span 3;
padding-right: 50px;

}





#Evelyn{
  
  grid-column: span 3;
  width: 200px;
  padding-right: 200px;
}

#Waymond{
  
  grid-column: span 6;
  width: 200px;
  padding-right: 200px;

}

#Joy{
  
  grid-column: span 3;
  width: 200px;
  
}

main3{
grid-column: span 3;
padding-right: 50px;


}

main5{
grid-column: span 3;
}

h2{
  border-bottom:5px solid blue ;

  } 
  
  #isu{
    grid-column: span 12;
    background-color: red;
  
  }