 
 
  


  
  a:hover {
    color: #ff0d00;
  :text-decoration:underline;
  }  

  a:link {
    color: #00ff00;
  }
  h2 {
    color: blue;
  }
  
.specialp {
  color: #0000ff;
    background-color: #e1ff00;  
}

#divexample {
  background-color:yellow
}

#divexample2 {
  background-color:lightblue
}

#divexample3 {
  background-color:yellow
}

#divexample4 {
  background-color:lightgreen
}

h1 {
  color: white;
}

.textjustify {
  text-align: justify;
}
h4{
  color:yellow
}

.spanstyle{
  color:orange
}

#divexample5 {
  background-color:green
}

u{
  text-decoration: underline;
}

.specialp2{
  color: #ff0d00;
}

.specialp3{
  color: #000000;
}
