 h1 {
    color: #ff0000;
  }

  h2 {
    color: #005eff;
  }

  h4 {
    color: #00ff6248;
  }

  p {
    color: #a200ffa3;
  }

h3 {
    color:aqua 
}
a:link {
    color: #ff0000;
  }
  a:visited {
    color: #eaff00;
  }
  a:hover {
    color: #00ff1a;
  }  
  .specialp {
    color: #0000ff;
      background-color: #e1ff00;  
  }

  #specialid {
    background-color: #00ff00;
  }